@charset "UTF-8";
body{
	 background-color: #dddddd;
	
}
div#corp{
	width:1200px;
	background-color: white;
	margin:-20px auto 0px auto;
	box-shadow: 0px 0px 10px rgba(0,0,0,.5);
	padding: 15px;
	text-align: justify;
	text-indent: 20px;
}
header#cabecalho{
	
	dispaly:block;
	
}
header#cabecalho img#imagem{
	position: relative;
	left: 30px;
	top: 20px;

}
header#cabecalho h1{
	position:absolute;
	top:20px;
	font-family: Arial, sans-serif;
	font-size: 30pt;
	color: #606060;
	text-shadow: 1px 1px 1px rgba(0,0,0,.6);
	padding: 0px;
	margin-bottom: 0px;
	margin-left:40px;
}
h2 {
	background-color: #606060;
	color:white;
	text-align: center;
	margin: 40px auto 20px auto;
}


	figure.parti img {
    border: 4px solid white;
	box-shadow: 1px 1px 4px rgba(0,0,0,.5);
	}
	figure.parti h4{
     text-align:center;
	 padding:10px;
	 margin:10px;
	}
	figure.parti {
		padding:5px;
		margin:5px;
	}
	figure.parti a{
	text-decoration:none;
	color: white;
	background-color: #606060;
	}
	
	
	
	
	figure.mascotes img{
		border: 4px solid white;
		box-shadow: 1px 1px 4px rgba(0,0,0,.8);
	}
	figure.mascotes h3{
		padding: 0px;
		margin:0px;
		text-align:justify 0px;
	}
	figure.mascotes p{
	color:red;
	}
	nav#pets ul{
		list-style: none;
		
	}
	nav#pets li{
		display:inline-block;
		padding: 0px;
		margin-right:0px;
		
		
	}
	
	
	
	
	
	nav#parti ul{
		list-style: none;
	}
	nav#parti li{
		display:inline-block;
	}
	
	
	
	nav#oscla figure{
		
		margin:0px ;
		padding:10px 220px 10px 0px;
		position:relative;
	}
	nav#oscla figcaption {
	position:absolute;
    display:block;
	top: 0px;
	left:143px;
	}
	nav#oscla img{
	border: 4px solid white;
	box-shadow:1px 1px 4px rgba(0,0,0,.8);
	}
	nav#oscla ul{
	list-style: none;
	}
	nav#oscla li{
	display:inline-block;
	}
	
	
	
	nav#trclaa img{
	border: 4px solid white;
	box-shadow:1px 1px 4px rgba(0,0,0,.8);	
	}
	nav#trclaa ul{
	list-style: none;
	}
	nav#trclaa figure{
	
	position:relative;
	margin:10px;
	padding-right:290px;
	}
	nav#trclaa figcaption{
	display:block;
	top:0px;
	position:absolute;
	left:270px;
	}
	nav#trclaa li{
	display:inline-block;
	}
	nav#medalhas img{
	border: 4px solid white;
	box-shadow:1px 1px 4px rgba(0,0,0,.8);	
	}
	nav#medalhas ul{
		list-style: none;
	}
	nav#medalhas figure{
		
		position:relative;
		margin:2px;
		padding-right:125px;
		padding-left:0px;
	}
	nav#medalhas figcaption{
		position:absolute;
		top:-20px;
		left:150px;
	}
	nav#medalhas li {
		display:inline-block;
	}