@charset "UTF-8";
h1 {
	font-family: Arial, sans-serif;
	font-size: 30pt;
	color: #606060;
	text-shadow: 1px 1px 1px rgba(0,0,0,.6);
	padding: 0px;
	margin-bottom: 0px;
	text-align: center;
}
table.tabelaa {
	
	display:inline-block;
	margin-top:0px;
	border-spacing:0px;
	 margin-left: 80px;
	 margin-right: 80px;
}
table.tabelaa td{
	border:1px solid #606060;
	padding: 18px;
	text-align:center;
}
 table.tabelaa   td.ce{
	 color:white;
	 background-color: #606060;
	 
 }
  table.tabelaa   td.ca{
background-color: #cecece;

  }
 
  table.tabelaa caption{
	  font-size: 15pt;
  }